.Think-Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Select-Button > button {
    width: 200px;
    padding: 10px 0px;
    font-size: 22px;
    font-weight: bold;
    background: #F5B7B1;
    border: 3px solid red;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}