.Expansion-Header {
    padding: 40px 0 10px 0;
    text-align: center;
}

.Expansion-Box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.Expansion-Box > div {
    width: 80%;

}
